$primary-color: rgba(255, 239, 231, 1); //ejemplo de expresiones de color
$secondary-color: #FFDAC6; // las expresiones de color se pueden usar con funciones
$tertiary-color: #BABD8D; // o valores hexadecimales
$primary-text-color: #7C6A0A;
$font-stack: 'IBM Plex Sans', sans-serif; //expresión String

body{
    margin: 0px; // expresión con números y medidas
    padding: 0px;
}

nav {
    width: auto;
    display: flex;
    justify-content: space-between;
    color: $primary-text-color;
    padding: 15px;
    p { // nesting: equivale a nav.p
        font-size: 1.5em;
        padding-left: 30px;
    }
    .icons {
        display: flex;
        gap: 15px;
        button{
            background: none;
            border-style: none;
        }
    }
}


footer {
    $background: #FA9500;
    background-color: $background;
    width: 105;
    height: 250px;
}